<div>
  <div class="px-5 pt-2">
    <mat-card> <h1>Saved Matches</h1></mat-card>
  </div>
  <div class="px-5 pt-2">

    <mat-card>
      <table class="table" *ngIf="!noData">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Contact</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of savedData">
            <td>{{ item.name }}</td>
            <td>{{ item.location.formattedAddress }}</td>
            <td>{{ item.contact.phone }}</td>
            <td>
              <div class="handPointe" (click)="removeFromLocalStorage(item)">
                <i class="fa fa-star fa-2x"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="noData" style="text-align: center">
        <h3>No Saved Matches Found</h3>
      </div>
    </mat-card>
  </div>
</div>
